#root {
  margin: 0 auto;
  padding: 2svh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

nav {
  border-bottom: 1px solid black;
  width: inherit;
}

.card {
  border: 1px solid black;
  border-radius: 5%;
  padding: 2rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  border-color: #646cff;
}

.body-area {
  width: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
